input[type=range] {
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 400px;
    margin: 0;
    padding: 0 2px;
    overflow-x: hidden;
    border: 0;
    border-radius: 1px;
    outline: none;
    background: linear-gradient(#333, #333) no-repeat center;
    background-size: 100% 2px;
    pointer-events: none;
    &:active,
    &:focus {
        outline: none;
    }
    &::-webkit-slider-thumb{
      -webkit-appearance: none;
      height: 18px;
      width: 18px;
      border-radius: 28px;
      background-color: #f1f1f1;
      border: 2px solid #333;
      position: relative;
      margin: 5px 0;
      cursor: pointer;
      appearance: none;
      pointer-events: all;
      transition: all .2s ease-in-out;
    }
    &::-moz-range-thumb{
      -webkit-appearance: none;
      height: 18px;
      width: 18px;
      border-radius: 28px;
      background-color: #f1f1f1;
      border: 2px solid #333;
      position: relative;
      margin: 5px 0;
      cursor: pointer;
      appearance: none;
      pointer-events: all;
      transition: all .2s ease-in-out;
    }
    &:hover::-webkit-slider-thumb{
        background-color: $yellow;
    }
    &:hover::-moz-range-thumb{
      background-color: $yellow;
    }
}
.filters{
    &__multi-range {
        position: relative;
        height: 45px;
        font-size: 13px;
        color: #333;
        font-weight: bold;
        margin-bottom: 1rem;
        overflow-x: hidden;
        padding: 5px 0;
        & input[type=range] {
        width: 100%;
        padding: 0;
        position: absolute;
        left: 0;
        &:nth-child(1) {
          &::-webkit-slider-thumb::before{
            background-color: #fff;
            border: 1px solid #b8c6d1;
          }
          &::-moz-range-thumb {
            background-color: #fff;
            border: 1px solid #b8c6d1;
          }
        }
        &:nth-child(2) {
          background: none;
          &::-webkit-slider-thumb::before {
            background-color: #b8c6d1;
          }
          &::-moz-range-thumb {
            background-color: #b8c6d1;
          }
        }
        }
        &--lefty{
        position: absolute;
        bottom: 0;
        left: 0;
        }
        &--righty{
        position: absolute;
        bottom: 0;
        right: 0;
        }
    }
}